
.agentstorm-sectionheader {
	margin-bottom: 0.5em;
}

.agentstorm-search {
    margin: 1em;
}

.agentstorm-formitem, .agentstorm-contact-item {
    margin-bottom: 0.5em;
}

.agentstorm-formitem SELECT {
    width: 75px;
}

.agentstorm-search-submit, .agentstorm-contact-submit {
    margin-top: 1em;
}

.agentstorm-crumb {
    margin-bottom: 1em;
}

.agentstorm-results {
    margin-top: 1em;
}

.agentstorm-price {
	margin-bottom: 0.5em;
}

.agentstorm-table {
    border-bottom: 1px solid #EEE;
}

.agentstorm-table TD, .agentstorm-table TH {
    padding: 5px;
	text-align: left;
}

.agentstorm-empty {
    color: #999;
}

.agentstorm-columns {
	overflow: hidden;
}

.agentstorm-col60 {
	float:left;
	width:60%;
}
.agentstorm-col50 {
	float:left;
	width:50%;
}
.agentstorm-col40 {
	float:left;
	width:40%;
}
.agentstorm-col34 {
	float:left;
	width:34%;
}
.agentstorm-col33 {
	float:left;
	width:33%;
}
.agentstorm-col25 {
	float:left;
	width:25%;
}
.agentstorm-bordered {
	border: 1px solid #CCC;
	padding:5px;
	background: #EEE;
}

.agentstorm-result-address H2 {
	margin-bottom: 0.5em;
}

.agentstorm-pager {
    overflow: hidden;
    margin-top: 0.5em;
}
.agentstorm-pager>div{
    float: left;
    margin: 5px;
    background: #DDD;
    line-height: 25px;
}
.agentstorm-pager>div A{
    color:#000;
    text-decoration: none;
    padding: 10px;
}
.agentstorm-pager>div A:hover{
    color:#FFF;
}
.agentstorm-pager>div:first-child{
    margin-left: 0;
}
.agentstorm-pager>div:hover {
    background:#666;
}
.agentstorm-pager .agentstorm-pager-curr {
    padding: 0 10px;
    background:#666;
    color:#FFF;
}

.agentstorm-copyright {
	border-bottom: 1px solid #EFEFEF;
	margin-top: 1em;
	margin-bottom: 1em;
}

.agentstorm-copyright P {
	font-size: 80% !important;
}

.agentstorm-copyright P.first {
	margin-top: 0;
}

.agentstorm-br-logo {
	float: left;
	margin-right: 1em;
	margin-top: 5px;
}

.agentstorm-contact {
    margin: 1em;
}

.agentstorm-contact .agentstorm-contact-item {
    
}

.agentstorm-contact .agentstorm-contact-item LABEL {
    float:left;
}

.agentstorm-contact .agentstorm-contact-item .agentstorm-contact-input {
    clear: both;
}

.agentstorm-contact .agentstorm-contact-submit {
    margin-top: 0.5em;
}

.agentstorm-contact .agentstorm-contact-item TEXTAREA {
    width: 100%;
    height: 50px;
}

.agentstorm-success {
    margin-top: 1em;
    border: 1px solid #8CAD2D;
    background: #E6EFC2;
    padding: 1em;
}

.agentstorm-results {
    margin-top: 1em;
}

.agentstorm-result {
    overflow: hidden;
    padding: 1em;
}

.agentstorm-result .agentstorm-result-image {
    float: left;
    padding-right: 1em;
	margin-bottom: 1em;
}

.agentstorm-result .agentstorm-result-image A {
	display:block
}

.agentstorm-result-description P {
    margin-top: 1em;
}

.agentstorm-result .agentstorm-result-address {
    font-size: 110%;
    font-weight: bold;
}

.agentstorm-result .agentstorm-result-subaddress {
    font-size: 80%;
}

.agentstorm-result .agentstorm-result-subaddress A {
    color: #222;
}

.agentstorm-result .agentstorm-result-price {
    float: right;
	background: #698123;
    padding: 0.5em 1em;
    color: #FFF;
    font-weight: bold;
    letter-spacing: +1.25px;
    margin-top: 0.5em;
    margin-right: 0.5em;
    min-width: 100px;
    text-align: center;
}

.agentstorm-result-description .agentstorm-result-box {
	width:100%;
	background: #8CAD2D;
    color: #FFF;
    font-weight: bold;
    letter-spacing: +1.25px;
    margin: 0 0 2px 0;
	line-height: 1.2em;
}
.agentstorm-result-description .agentstorm-result-box.header {
	background-color: #698123;
}

.agentstorm-result-description .agentstorm-result-box-content {
    padding: 0.5em 1em;
	text-align: center;
}

.agentstorm-result-description .agentstorm-result-box-content A {
    text-decoration: none;
	color: inherit;
	display: block;
}

.agentstorm-result .agentstorm-result-moreinfo, .agentstorm-result .agentstorm-result-virtualtour {
    float: right;
    clear: right;
    padding: 0.5em 1em;
    background: #8CAD2D;
    color: #FFF;
    margin-top: 0.5em;
    margin-right: 0.5em;
    min-width: 100px;
    text-align: center;
}

.agentstorm-result .agentstorm-result-moreinfo A, .agentstorm-result .agentstorm-result-virtualtour A {
    color: #FFF;
    font-size: 80%;
    font-weight: bold;
}

.agentstorm-result .agentstorm-result-remarks {
    padding: 0.5em 0.5em 0.5em 140px;
    margin-bottom: 1em;
    clear:both;
}

.agentstorm-result .agentstorm-result-list {
    margin-top: 0.5em
}

.agentstorm-result .agentstorm-result-listitem {
    overflow: hidden;
    font-size: 80% !important;
    line-height: 1.75em;
}

.agentstorm-result .agentstorm-result-list LABEL {
    float: left;
    width: 150px !important;
	display: block;
}

.agentstorm-crumb {
    margin-bottom: 1em;
    font-size: 80%;
}

.agentstorm-crumb A {
    color: #000;
}

.agentstorm-search {
    margin: 1em;
}

.agentstorm-search #agentstorm-dd-type {
    width: 200px !important;
}

.agentstorm-search #agentstorm-dd-suburbzip {
    width: 200px !important;
}

.agentstorm-formitem {
    overflow:hidden;
}

.agentstorm-formitem LABEL {
    float: left;
    width: 150px;
}

.agentstorm-formitem SELECT {
    width: 90px !important;
}

.agentstorm-search .agentstorm-search-submit {
    margin-top: 0.5em;
}

.agentstorm-alert {
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #FFD324;
    background:#FFF6BF;
    color:#514721;
    margin-top: 1em;
}

.agentstorm-map {
    margin-top: 1em;
}

.agentstorm-table {
    margin: 1em 0;
    width: 100%;
}

.agentstorm-cell {
    padding: 4px 0;
    font-size: 90%;
}

.agentstorm-odd {
    background: #FFF;
}

.agentstorm-even {
    background: #EFEFEF;
}

.agentstorm-walkscore {
    margin-top: 1em;
}

.agentstorm-walkscore .agentstorm-walkscore-listitem LABEL {
    float: left;
    width: 150px !important;
}

.agentstorm-walkscore .agentstorm-walkscore-listitem {
    overflow: hidden;
    font-size: 80% !important;
    line-height: 25px;
}

.agentstorm-tabs {
    margin-top: 1em;
    margin-bottom: 1em;
}
.agentstorm-tabs div.agentstorm-tabcontainer  { 
    height: 24px; 
    overflow: hidden;
} 
.agentstorm-tabs div.agentstorm-tabcontainer a  { 
    float: left; 
    display: block; 
    width:  90px; 
    text-align: center; 
    height: 24px; 
    padding-top: 3px; 
    vertical-align: middle; 
    border: 1px solid #8cad2d; 
    border-bottom-width: 0; 
    text-decoration: none; 
    font-family: "Arial", Serif; 
    color: #8cad2d !important;
    margin-right: 2px;
    background-color: #e9eed9;
    border-bottom: 1px solid #FFF;
    z-index: 1000;
} 
.agentstorm-tabs div.agentstorm-tabcontainer a:hover, div.agentstorm-tabs div.agentstorm-tabcontainer a.Active  { 
    background-color: #cbe288; 
    font-weight: 900; 
    color: #3b7905 !important;
} 
.agentstorm-tabs div.agentstorm-tabpages  { 
    clear: both; 
    border: 1px solid #8cad2d; 
    overflow: hidden; 
} 
.agentstorm-tabs div.agentstorm-tabpages div.agentstorm-tabpage  { 
    padding: 0px; 
    overflow: hidden;
} 
.agentstorm-tabs div.agentstorm-tabpages div.agentstorm-tabpage div.agentstorm-tabpadding  { 
    padding: 3px 5px; 
}
.agentstorm-tabs .agentstorm-search-submit {
    padding-left: 150px;
}

.agentstorm-column-right {
	float: right;
	width:328px;
	margin: 0 0 1em 1em;
	background: #EFEFEF;
	border: 1px solid #CCC;
}
.agentstorm-column-right-padding {
	padding: 10px
}
.agentstorm-agentinfo {
    margin-top: 0.5em;
    margin-right: 0.5em;
    text-align: center;
    padding: 0.5em 0;
}
.agentstorm-agentinfo-title {
	font-size: 80%;
	font-weight: bold;
}
.agentstorm-agentinfo-name {
	font-weight: bold;
}
.agentstorm-agentinfo-phone {

}
.agentstorm-agentinfo-email {
	font-size: 80%;
}
.agentstorm-agentinfo-extra {
	font-size: 80%;
	margin-top: 0.25em;
}

#agentstorm-resultmap-container {
    border: 1px solid #DDD;
    background: #EEE;
    margin-bottom: 1em;
    padding: 5px;
}
#agentstorm-resultmap {
    height: 250px;
    border: 1px solid #DDD;
}

#agentstorm-resultmap-toolbar {
    font-size: 80%;
    margin: 5px 0;
}

#agentstorm-resultmap-toolbar-right {
    float: right;
}

#agentstorm-propertyactions {
    float: right;
    clear: right;
    margin: 1em 0.5em 0 0;
    width: 120px;
    text-align: center;
}
#agentstorm-propertyactions A.save {
    background: url(../images/save.png) no-repeat;
    padding-left: 13px;
    font-size: 10px;
}

.small {
	font-size:80%;
}

.supersize {
	font-size:160%;
}

.clear {
	clear: both;
}

.agentstorm-result-description H4 {
     clear: none !important;
}

.imageHover {
    margin: 3px 3px 0 0;
    border: 1px solid #CCC;
    overflow: hidden;
    display: block;
    float: left;
    padding: 1px;
    background: white;
}