
.agentstorm-result {
}

.agentstorm-result .agentstorm-result-moreinfo, .agentstorm-result .agentstorm-result-virtualtour {
    background: #DDD;   
}

.agentstorm-result .agentstorm-result-image IMG {
    border: 2px solid #FFF !important;
    padding: 0;
}

.agentstorm-result .agentstorm-result-price {
    background: #730006;
    color: #FFF;
}

.agentstorm-result .agentstorm-result-moreinfo, .agentstorm-result .agentstorm-result-virtualtour {
    background: #BF000A;
    color: #FFF;
}

.agentstorm-result .agentstorm-result-moreinfo A, .agentstorm-result .agentstorm-result-virtualtour A {
    color: #FFF;
}

.agentstorm-table TH {
    background: #730006;
}

.agentstorm-tabs div.agentstorm-tabcontainer a  { 
    border: 1px solid #730006; 
    color: #BF000A !important;
    background-color: #EEE;
    border-bottom: 1px solid #FFF;
} 
.agentstorm-tabs div.agentstorm-tabcontainer a:hover, div.agentstorm-tabs div.agentstorm-tabcontainer a.Active  { 
    background-color: #730006; 
    color: #FFF !important;
} 
.agentstorm-tabs div.agentstorm-tabpages  { 
    border: 1px solid #730006; 
} 
