.jcarousel-skin-pika .jcarousel-container-horizontal {
    padding: 10px 30px;
    background: #fafafa; 
    border: 1px solid #e5e5e5;
    border-top: none;
}

.jcarousel-skin-pika .jcarousel-container-vertical {
    width: 90px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-pika .jcarousel-clip-horizontal {
    height: 90px;
    width: 370px;
}

.jcarousel-skin-pika .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.jcarousel-skin-pika .jcarousel-item-horizontal {
    margin-right: 10px;
}

.jcarousel-skin-pika .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-pika .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

